@page "/about"

<PageTitle>About</PageTitle>

<div class="container">
    <h3>About</h3>
    <p style="width:640px; word-wrap:break-word; font-size: 20px; padding-top: 3rem;">Hi, I’m Eevi.</p>
    <p style="width:640px; word-wrap:break-word; font-size: 20px; padding-top: 1rem;">I’m an XR Design student at Metropolia University of Applied Sciences with a versatile skill set. I have experience in 2D art, 3D modeling, rigging, animating and programming.</p>
    <p style="width:640px; word-wrap:break-word; font-size: 20px; padding-top: 1rem;">I’d say my strongest suits are my resourcefulness and creativity. I am great at cooperation and thrive in teams, and I am eager to learn from criticism to improve my work.</p>
</div>
