@page "/"
@using EevikaPortfolioProject.Pages
@using EevikaPortfolioProject.Models
@inject HttpClient Http


<PageTitle>Home</PageTitle>

<div class="homeroom">

    @if (works != null)
    {
        foreach (var work in works)
        {
            <HomeroomButton BaseStyle=@work.ButtonIconStyle HoveredStyle=@(work.ButtonIconStyle + "hover") WorkId=@work.Id></HomeroomButton>
        }
    }
</div>

@code
{
    private IEnumerable<PortfolioWork>? works;

    protected override async Task OnInitializedAsync()
    {
        works = await Http.GetFromJsonAsync<PortfolioWork[]>("sample-data/portfolioworks.json");
    }
}