<div style="padding-right: 1.2rem; padding-left: 1.2rem;">
    <a href="https://fi.linkedin.com/in/eevi-karjalainen-172b27223" style="text-decoration: none; font-size: 11px;">LinkedIn</a>
</div>
<div style="padding-right: 1.2rem; padding-left: 1.2rem;">
    <a href="https://sketchfab.com/eevi_ka" style="text-decoration: none; font-size: 11px;">Sketchfab</a>
</div>