@inherits LayoutComponentBase

<div class="page @GetCssClass()">
    <main>
        <div class="top-row px-4">
            <div class="portfoliologo"></div>
            <TopRowMenu/>
            <div class="btn" @onclick="SwitchColorTheme"><div class="lightdarkmodeicon"></div></div>
        </div>
        <article class="content px-4">
            @Body
        </article>
        <div class="bottom-row px-4">
        </div>
    </main>
</div>

@code{
    private bool selectedLightTheme = true;

    private string GetCssClass()
    {
        if(selectedLightTheme)
        {
            return String.Empty;
        }
        else
        {
            return "dark-mode";
        }
    }

    private void SwitchColorTheme()
    {
        if (selectedLightTheme)
        {
            selectedLightTheme = false;
        }
        else
        {
            selectedLightTheme = true;
        }
    }
}